<!-- scrapped at lanyon-->
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
	 <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

	 <!-- Toggleable sidebar -->
	 <div class="sidebar" id="sidebar">
	   <div class="sidebar-item">
		 <p>{{ site.description }}</p>
	   </div>
	 
	   <nav class="sidebar-nav">
		 <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
		 <a class="sidebar-nav-item{% if page.title == 'Categories' %} active{% endif %}" href="{{ '/categories' | absolute_url }}">Categories</a>
	 
		 {% assign list = site.categories %}
		 {% for node in list %}
			<a class="sidebar-nav-item{% if page.url == node[0] %} active{% endif %}" href="{{ node[0] | absolute_url }}">{{ node[0] }}</a>
		 {% endfor %}

		 <a class="sidebar-nav-item" href="https://github.com/{{ site.footer-links.github }}">GitHub</a>
		 <span class="sidebar-nav-item">Currently {{ site.version }}</span>
	   </nav>
	 
	   <div class="sidebar-item">
		 <p>
		   &copy; {{ site.time | date: '%Y' }}. All rights reserved.
		 </p>
	   </div>
	 </div>