---
layout: default
---

{% if site.categories.size == 0 %}
  <h2>No post found</h2>
{% endif %}
{% assign category = page.title %}

<div class="categories">
    <h1>
		<a href="{{ category | absolute_url}}">
			Category : {{ category }}
		</a>
    </h1>
    <ul class="category">
      {% for post in site.categories[category] %}
        {% if post.title != null %}
          <li>
            {% if post.link %}
              <a href="{{ post.link }}">
            {% else %}
              <a href="{{ site.baseurl }}{{ post.url }}">
            {% endif %}
                {{ post.title }}
              </a>
              <time>{{ post.date | date: "%Y-%m-%d" }}</time>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
