<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}
    <div class="wrap">
      {% include nav.html %}

      <div id="main" role="main" class="container">
        {{ content }}
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include footer.html %}
          </footer>
        </div>
      </div>
      {% include analytics.html %}
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script src='{{ site.baseurl }}/js/sidebarToggle.js'></script>
  </body>
</html>
